<?xml version="1.0"?>
<config>
    <phpunit>
        <suite>
            <modules>
                <Magehack_Autogrid/>
            </modules>
        </suite>
    </phpunit>
    <global>
        <models>
            <magehack_autogrid>
                <class>Magehack_Autogrid_Model</class>
                <resourceModel>magehack_autogrid_resource</resourceModel>
            </magehack_autogrid>
            <magehack_autogrid_resource>
                <class>Magehack_Autogrid_Model_Resource</class>
            </magehack_autogrid_resource>
        </models>
        <helpers>
            <magehack_autogrid>
                <class>Magehack_Autogrid_Helper</class>
            </magehack_autogrid>
        </helpers>
        <blocks>
            <magehack_autogrid>
                <class>Magehack_Autogrid_Block</class>
            </magehack_autogrid>
        </blocks>
        <events>
            <controller_front_init_routers>
                <observers>
                    <magehack_autogrid>
                        <class>Magehack_Autogrid_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </magehack_autogrid>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <adminhtml>
       <layout>
            <updates>
                <magehack_autogrid module="Magehack_Autogrid">
                    <file>magehack/autogrid.xml</file>
                </magehack_autogrid>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <magehack_autogrid before="Mage_Adminhtml">Magehack_Autogrid_Adminhtml</magehack_autogrid>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
