<?xml version="1.0"?>
<config>
    <phpunit>
        <suite>
            <modules>
                <Magehack_Autogrid/>
            </modules>
        </suite>
    </phpunit>
    <global>
        <models>
            <magehack_autogrid>
                <class>Magehack_Autogrid_Model</class>
            </magehack_autogrid>
        </models>
    </global>
</config>